

  <!-- Navigation-->
  <app-navigation></app-navigation>
  <!-- Header-->
  <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">NBA Players Stats</h1>
              <p class="lead fw-normal text-white-50 mb-0">Explore the performance of some NBA players during the 22/23 season</p>
          </div>
      </div>
  </header>
  <!-- Section-->
  <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <app-services [receivedParam]=0> </app-services>
              <app-services [receivedParam]=1> </app-services>
              <app-services [receivedParam]=2> </app-services>
              <app-services [receivedParam]=3> </app-services>
              <app-services [receivedParam]=4> </app-services>
              <app-services [receivedParam]=5> </app-services>
              <app-services [receivedParam]=6> </app-services>
              <app-services [receivedParam]=7> </app-services>

          </div>
      </div>
  </section>
  <!-- Footer-->
    <app-footer></app-footer>

<router-outlet></router-outlet>
